
<div class="container">

  <div class="s12 m12">

    <p>
      <bold>Nombre del Playlist</bold>
      <%= @playlist.name %>

      <br>

      <a>Números de votos</a>
      <%= @playlist.number_of_votes %>
    </p>

    <a class="btn blue"<%= link_to 'Regresar', playlists_path %></a>

  </div>

  <div class="s12 m12">

    <ul class="collection">
      <li>

      </li>
    </ul>

  </div>

</div>